.main-chat
  .main-header
    .main-header__left
      .main-header__left__groupname
        group_neme1
      .main-header__left__memberlist
        Member
    .main-header__right
      =link_to "#", class: "main-header__edit-btn" do
        Edit

  .messages
    .message
      .message__info
        .message__info--name
          username
        .message__info--date
          date
      .message__text
        sample message
  
  .form
    = form_for [@group,@message] do |f|
    .new-message
      .input-box
        = f.text_field :content, class: 'input-box__text', placeholder: "type a message"
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image')
          =f.file_field :image, class: 'input-box__image__file'
      = f.submit 'Send', class: 'input__submit--btn'
    
